<h1>welcome to issue book</h1>

<div class="container-fluid">
	<div class="row">

		<div class="form-group">
			<%=form_tag issue_books_path do %>
			<%=select_tag 'book_id', options_for_select(@books.collect{ |book| [book.name, book.id] }, :selected => params[:book_id])%>
			<%=select_tag 'student_id', options_for_select(@students.collect{|student| [student.name, student.id_number] }, :selected => params[:id_number])%>
				<%= submit_tag 'issue' %>
			<% end %>
		</div>
		
	</div>
</div>
